@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-welcome: 'Fugaz One', cursive;
    --font-carousel: 'Roboto Mono', monospace;
    --font-main: 'Poppins', sans-serif;
    --font-main2: 'Abril Fatface', cursive;
    --border-clr: #d6d6d6;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}


html {
    scroll-padding-top: 2rem;
}


@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body, a {
    color: rgb(233, 233, 233);
}

.welcome-section-wrapper > *, header > *, #main-doc section > * {
    max-width: 1500px;
    margin: 0 auto;
}

/***** Welcome Section Styling *****/
#nav-bar {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-transition: 0.3s -webkit-transform ease-in-out 1s;
         -o-transition: 0.3s transform ease-in-out 1s;
            transition: 0.3s transform ease-in-out 1s;
}
.welcome-section-wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #500033;
    padding: 1.2rem;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            -ms-transform-origin: top;
        transform-origin: top;
    -webkit-transition: 0.45s opacity cubic-bezier(0.600, -0.280, 0.735, 0.045), 
                        0.45s -webkit-transform cubic-bezier(0.600, -0.280, 0.735, 0.045);
         -o-transition: 0.45s transform cubic-bezier(0.600, -0.280, 0.735, 0.045), 
                        0.45s opacity cubic-bezier(0.600, -0.280, 0.735, 0.045);
            transition: 0.45s transform cubic-bezier(0.600, -0.280, 0.735, 0.045), 
                        0.45s opacity cubic-bezier(0.600, -0.280, 0.735, 0.045);
    opacity: 1;
    z-index: 1;
}

.bg::before {
    content: '';
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    right: -10%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2rem 20rem 2rem 2rem;
    -webkit-transform: skewX(7deg) translateX(45%);
        -ms-transform: skewX(7deg) translateX(45%);
            transform: skewX(7deg) translateX(45%);
    z-index: -1;
}

.bg::after {
    content: '';
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    right: -10%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2rem 20rem 2rem 2rem;
    -webkit-transform: skewX(20deg) translateX(45%);
        -ms-transform: skewX(20deg) translateX(45%);
            transform: skewX(20deg) translateX(45%);
    z-index: -1;
}

.welcome-section-wrapper, header, main {
    overflow: hidden;
}

.border {
    position: absolute;
}

.border.top {
    width: 100%;
    height: 1px;
    background-color: var(--border-clr);
    border: none;
    inset: 0 0 auto 0;
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-animation: border-top-bottom 3.5s 1 ease-in-out;;
            animation: border-top-bottom 3.5s 1 ease-in-out;
}

.border.bottom {
    width: 100%;
    height: 1px;
    background-color: var(--border-clr);
    border: none;
    inset: auto 0 0 0;
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    -webkit-animation: border-top-bottom 3.5s 1 ease-in-out;
            animation: border-top-bottom 3.5s 1 ease-in-out;
}

.border.left {
    width: 1px;
    height: 100%;
    background-color: var(--border-clr);
    border: none;
    inset: 0 auto auto 0;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
        transform-origin: bottom;
    -webkit-animation: border-left-right 3.5s 1 ease-in-out;
            animation: border-left-right 3.5s 1 ease-in-out;

}

.border.right {
    width: 1px;
    height: 100%;
    background-color: var(--border-clr);
    border: none;
    inset: 0 0 auto auto;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
        transform-origin: top;
    -webkit-animation: border-left-right 3.5s 1 ease-in-out;
            animation: border-left-right 3.5s 1 ease-in-out;
}

#welcome-section {
    font-family: var(--font-welcome);
    font-size: 1rem;
    position: relative;
    height: 100%;
    padding: 1rem;
    overflow: hidden;
}

.welcome-txt {
    display: block;
    text-align: center;
}

.welcome-txt.one {
    font-size: min(9vw, 3rem);
    font-weight: 500;
    text-align: left;
    margin-top: min(20vh, 50px);
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.5s;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.5s;
}
.welcome-txt.two {
    font-size: min(16vw, 7rem);
    height: auto;
    width: 100%;
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 1.5s;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 1.5s;
}

#carousel-wrapper {
    font-size: 1.8rem;
    position: relative;
    margin-top: 2rem;
    overflow: hidden;
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 2s;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 2s;
}

#carousel {
    position: absolute;
    inset: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
}

.carousel-txt {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.carousel-txt.word1 {
    -webkit-animation: carousel-horizontal 12s ease-in-out infinite 1.2s, word1 12s ease-in-out infinite 1.2s;
            animation: carousel-horizontal 12s ease-in-out infinite 1.2s, word1 12s ease-in-out infinite 1.2s;
}

.carousel-txt.word2 {
    -webkit-animation: carousel-horizontal 12s ease-in-out infinite 1.2s, word2 12s ease-in-out infinite 1.2s;
            animation: carousel-horizontal 12s ease-in-out infinite 1.2s, word2 12s ease-in-out infinite 1.2s;
}

.carousel-txt.word3 {
    -webkit-animation: carousel-horizontal 12s ease-in-out infinite 1.2s, word3 12s ease-in-out infinite 1.2s;
            animation: carousel-horizontal 12s ease-in-out infinite 1.2s, word3 12s ease-in-out infinite 1.2s;
}

.carousel-txt.word4 {
    -webkit-animation: carousel-horizontal 12s ease-in-out infinite 1.2s, word4 12s ease-in-out infinite 1.2s;
            animation: carousel-horizontal 12s ease-in-out infinite 1.2s, word4 12s ease-in-out infinite 1.2s;
}

.welcome-txt.three {
    position: absolute;
    right: 0;
    left: 0;
    bottom: calc(8.5rem + 5vw);
    font-size: min(6vw, 1.6rem);
    font-weight: 400;
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 2.5s;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 2.5s;
}

#welcome__btn {
    position: absolute;
    inset: auto 0 0 0;
    margin: 0 auto 1px;
    cursor: pointer;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-animation: bounce-in-top 1.1s both 3s;
            animation: bounce-in-top 1.1s both 3s;
}

#welcome__btn span {
    background-color: #77024c;
    font-size: 1.4em;
    color: rgb(239,239,239);
    margin: 0 auto 0;
    border-radius: 50%;
    height: calc(7rem + 5vw);
    width: calc(7rem + 5vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-animation: heartbeat 3s ease-in-out 5s infinite both;
	        animation: heartbeat 3s ease-in-out 5s infinite both;
}

@media only screen and (max-height:600px) and (orientation: landscape) {
    .welcome-txt.one {
        font-size: 2rem;
        margin-top: 5vh;
    }

    .welcome-txt.two {
        font-size: 3rem;
    }

    #carousel-wrapper {
        font-size: 1rem;
    }

    .welcome-txt.three br {
        display: none;
    }
    .welcome-txt.three {
        font-size: 1.2rem;
        margin-top: 1rem;
        bottom: calc(3.5rem + 5vw)
    }

    #welcome__btn span {
    font-size: 0.7em;
    height: calc(2.5rem + 5vw);
    width: calc(2.5rem + 5vw);
    }
}

@media only screen and (max-height:300px) and (orientation: landscape) {
    .welcome-txt.one {
        font-size: 1.6rem;
        margin-top: 0;
    }

    .welcome-txt.two {
        font-size: 2rem;
    }

    #carousel-wrapper {
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .welcome-txt.three br {
        display: none;
    }
    .welcome-txt.three {
        font-size: 1rem;
        margin-top: 1rem;
        bottom: calc(3rem + 5vw)
    }

    #welcome__btn span {
    font-size: 0.7em;
    height: calc(2rem + 5vw);
    width: calc(2rem + 5vw);
    }
}


/***** Main Content Styling *****/

#main-toggle:checked ~ .welcome-section-wrapper {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    opacity: 0;
}

#main-section {
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 1;
    -webkit-transform: rotateX(100deg);
            transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
    -webkit-transition: 0.5s opacity cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.5s, 
                        0.5s -webkit-transform cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.5s;
         -o-transition: 0.5s transform cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.5s, 
                        0.5s opacity cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.5s;
            transition: 0.5s opacity cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.5s, 
                        0.5s transform cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.5s;
}

#main-toggle:checked ~ #main-section {
    height: auto;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 1;
}

#main-toggle:checked ~ #nav-bar {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
}

#nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.5rem 1rem;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

#nav-list > * {
    text-align: center;
}

.nav-link {
    font-family: var(--font-main);
    font-size: min(1.5rem, 4.5vw);
    font-weight: 700;
    font-style: italic;
    padding: 0.5rem;
}

header {
    background-color: #000050;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 0;
    top: 0;
    font-family: var(--font-main);
    margin: 0 auto;
    z-index: 1;
}

#header-carousel-wrapper {
    width: 100%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto;
    padding-top: 6rem;
}

#header-carousel {
    font-family: var(--font-main2);
    font-size: min(9vw, 2.3rem);
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 2.5px;
    position: relative;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    overflow: hidden;
}

#main-toggle:checked ~ #main-section #header-carousel {
    -webkit-animation: typewriter 7s infinite steps(25) 1.5s, span-border-pulse 1s infinite steps(2);
            animation: typewriter 7s infinite steps(25) 1.5s, span-border-pulse 1s infinite steps(2);
}

#header-carousel span:first-of-type {
    display: block;
    width: 0;
    overflow: hidden;
}

#main-toggle:checked ~ #main-section #header-carousel span:first-of-type {
    -webkit-animation: first-span-carousel 14s infinite ease-in-out 1.5s;
            animation: first-span-carousel 14s infinite ease-in-out 1.5s;
}

#header-carousel span:last-of-type {
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
}
#main-toggle:checked ~ #main-section #header-carousel span:last-of-type {
    -webkit-animation: second-span-carousel 14s infinite linear 1.5s;
            animation: second-span-carousel 14s infinite linear 1.5s;
}

#author-description {
    font-size: min(6vw, 1.25rem);
    font-weight: 500;
    max-width: 500px;
    margin: min(15vw, 7rem) auto 0;
    padding: 1rem;
    text-align: justify;
}

.fa-angles-down {
    font-size: 5rem;
    position: absolute;
    inset: auto 0 0 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto 2rem;
    -webkit-animation: rotate-jump 5s linear infinite;
            animation: rotate-jump 5s linear infinite;
}

main {
    font-family: var(--font-main);
}

main h2 {
    font-size: 2rem !important;
    font-weight: 600 !important;
    font-style: italic !important;
    margin-bottom: 1.5rem !important;
}

.main-section {
    position: relative;
    padding: 2rem 3rem;
    z-index: 1;
}

#background {
    background-color: #00501D;
}

#background p {
    font-size: 1.1rem;
    text-align: justify;
    max-width: 600px;

}

#work {
    background-color: #554D00;
}


#work-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.work-img-container {
    position: relative;
    min-width: 280px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
}

.image-container {
    position: relative;
}

.macbook-frame {
    max-width: 100%;
}


.site-img {
    position: absolute;
    inset: 0 0 auto 0;
    margin: 4% auto 0;
    width: 68%;
    height: 74%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 2px;
}


.work-caption {
    text-align: center;
    margin-top: 0;
    
}

.caption-icons {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;    
}


.caption-icon a {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    gap: 1rem;
}

.seperator {
    width: 50%;
    height: 0;
    margin: 0.5rem auto;
    border: none;
    border-top: 2px dashed gray;
}

.image-hover-effect {
    display: none;
}

@media (hover:hover) {
    .caption-icons {
        display: none;
    }

    .seperator {
        display: none;
    }

    .hover {
        display: block;
    }

    .image-hover-effect {
        position: absolute;
        inset: 0 0 auto 0;
        margin: 4% auto 0;
        width: 68%;
        height: 74%;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.85);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
           -ms-flex-pack: center;
         justify-content: center;
        -webkit-box-align: center;
           -ms-flex-align: center;
              align-items: center;
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        -webkit-transform-origin: center;
            -ms-transform-origin: center;
                transform-origin: center;
        -webkit-transition: 0.2s -webkit-transform ease-in-out;
             -o-transition: 0.2s transform ease-in-out;
                transition: 0.2s transform ease-in-out;
    }

    .image-container:hover > .image-hover-effect {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
    }

    .work-link:hover {
        color: #b8b8b8;
    }
}

#contact {
    background-color: #300050;
}

#contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
           align-items: flex-start;
    gap: 3rem;
}

#contact-form > * {
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    max-width: 700px;
    min-width: 300px;
}

#contact p {
    text-align: justify;
    margin-bottom: 2rem;
}

#contact-form form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
    gap: 1rem;
}

#contact-form input {
    width: 100%;
    height: clamp(30px, 5vh, 40px);
    border-radius: 10px;
    text-align: center;
}

#contact-form textarea {
    width: 100%;
    height: clamp(80px, 5vh, 100px);
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

#contact-form input:nth-of-type(3) {
    height: 6rem;
}

::-webkit-input-placeholder {
    font-family: var(--font-main);
    text-align: center;
}

::-moz-placeholder {
    font-family: var(--font-main);
    text-align: center;
}

:-ms-input-placeholder {
    font-family: var(--font-main);
    text-align: center;
}

::-ms-input-placeholder {
    font-family: var(--font-main);
    text-align: center;
}

::placeholder {
    font-family: var(--font-main);
    text-align: center;
}

#form-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
       -ms-flex-pack: space-evenly;
     justify-content: space-evenly;
}

#form-buttons button {
    font-family: var(--font-main);
    font-size: 1.5rem;
    color: white;
    padding: 0.4em;
    width: 40%;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: #8000FF;
    -webkit-transition: 200ms background ease-in-out;
         -o-transition: 200ms background ease-in-out;
            transition: 200ms background ease-in-out;
}

@media (hover:hover) {
#form-buttons button:hover {
    background: #6900d1;
}
}

/***** Adjusting margin and button size on welcome screen for large displays (bigger than 1024px width) *****/

@media only screen and (min-width: 1024px) {
    
    .welcome-txt.one {
        margin-top: 10vh;
    }

    .welcome-txt.three br {
        display: none;
    }

    .welcome-txt.three {
        bottom: min(calc(8.5rem + 5vw), 9.5rem);
    }

    #welcome__btn span {
        height: min(calc(7rem + 5vw), 8rem);
        width: min(calc(7rem + 5vw), 8rem);
    }
}


@media only screen and (min-width:481px) and (max-width:1024px) and (orientation: portrait) {
    .welcome-txt.one {
        margin-top: 15rem;
    }

    .welcome-txt.three br {
        display: none;
    }
}

/**** Animations ****/

/**** Welcome Section Animations ***/
 @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-100vh);
              transform: translateY(-100vh);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

 @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-100vh);
              transform: translateY(-100vh);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    4% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    8.5% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    14% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    19%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

 @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    4% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    8.5% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    14% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    19%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }


  /**** Fade-in animation ****/ 

  @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  
 /*** Welcome Carousel Animation ***/ 


 @-webkit-keyframes word1 {
    0% {
        height: 100%;
    }

    24% {
        height: 100%;
    }

    25% {
        height: 0%;
    }

    100% {
        height: 0%;
    }
 } 


 @keyframes word1 {
    0% {
        height: 100%;
    }

    24% {
        height: 100%;
    }

    25% {
        height: 0%;
    }

    100% {
        height: 0%;
    }
 }

 @-webkit-keyframes word2 {
    0% {
        height: 0%;
    }

    24% {
        height: 0%;
    }

    25% {
        height: 100%;
    }

    49% {
        height: 100%;
    }

    50% {
        height: 0%;
    }

    100% {
        height: 0%;
    }
 }

 @keyframes word2 {
    0% {
        height: 0%;
    }

    24% {
        height: 0%;
    }

    25% {
        height: 100%;
    }

    49% {
        height: 100%;
    }

    50% {
        height: 0%;
    }

    100% {
        height: 0%;
    }
 }

 @-webkit-keyframes word3 {
    0% {
        height: 0%;
    }

    50% {
        height: 0%;
    }

    51% {
        height: 100%;
    }

    74% {
        height: 100%;
    }

    75%  {
        height: 0%;
    }

    100% {
        height: 0%;
    }
 }

 @keyframes word3 {
    0% {
        height: 0%;
    }

    50% {
        height: 0%;
    }

    51% {
        height: 100%;
    }

    74% {
        height: 100%;
    }

    75%  {
        height: 0%;
    }

    100% {
        height: 0%;
    }
 }

 @-webkit-keyframes word4 {
    0% {
        height: 0%;
    }

    75% {
        height: 0%;
    }

    76% {
        height: 100%;
    }
    99% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
 }

 @keyframes word4 {
    0% {
        height: 0%;
    }

    75% {
        height: 0%;
    }

    76% {
        height: 100%;
    }
    99% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
 }

 @-webkit-keyframes carousel-horizontal {
    
    0% {
        width: 0%;
    }

    5% {
        width: 100%;
    }

    20% {
        width: 100%;
    }

    24% {
        width: 0%;
    }

    25% {
        width: 0%;
    }

    30% {
        width: 100%;
    }

    45% {
        width: 100%;
    }

    49% {
        width: 0%;
    }

    50% {
        width: 0%;
    }

    55% {
        width: 100%;
    }

    70% {
        width: 100%;
    }

    74% {
        width: 0%;
    }

    75% {
        width: 0%;
    }

    80% {
        width: 100%;
    }

    95% {
        width: 100%;
    }

    99% {
        width: 0%;
    }

    100% {
        width: 0%;
    }

 }

 @keyframes carousel-horizontal {
    
    0% {
        width: 0%;
    }

    5% {
        width: 100%;
    }

    20% {
        width: 100%;
    }

    24% {
        width: 0%;
    }

    25% {
        width: 0%;
    }

    30% {
        width: 100%;
    }

    45% {
        width: 100%;
    }

    49% {
        width: 0%;
    }

    50% {
        width: 0%;
    }

    55% {
        width: 100%;
    }

    70% {
        width: 100%;
    }

    74% {
        width: 0%;
    }

    75% {
        width: 0%;
    }

    80% {
        width: 100%;
    }

    95% {
        width: 100%;
    }

    99% {
        width: 0%;
    }

    100% {
        width: 0%;
    }

 }

 /**** Welcome Section Border Animations ****/

 @keyframes border-top-bottom {
    0% {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
    }

    75% {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
    }

    100% {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);        
    }
 }

 @-webkit-keyframes border-top-bottom {
    0% {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
    }

    75% {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
    } 

    100% {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);        
    }

 }

 @keyframes border-left-right {
    0% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
    }

    75% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
    }

    100% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);        
    }
 }

 @-webkit-keyframes border-left-right {
    0% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
    }

    75% {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
    }

    100% {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);        
    }
 }

 /******* Typewriter text animation *******/

 @keyframes typewriter {
    0% {
        width: 0%;
    }

    33% {
        width: 100%;
    }

    67% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
 }

 @-webkit-keyframes typewriter {
    0% {
        width: 0%;
    }

    33% {
        width: 100%;
    }

    67% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
 }

 @-webkit-keyframes first-span-carousel {
    0% {
        height: 100%;
        width: 100%;        
    }

    50% { 
        height: 100%;
        width: 100%;        
    }

    50.001% {
        width: 0;
        height: 0;
    }

    100% {
        width: 0;
        height: 0;
    }
 }

 @keyframes first-span-carousel {
    0% {
        height: 100%;
        width: 100%;        
    }

    50% { 
        height: 100%;
        width: 100%;        
    }

    50.001% {
        width: 0;
        height: 0;
    }

    100% {
        width: 0;
        height: 0;
    }
 }

 @-webkit-keyframes second-span-carousel {
    0% {
        height: 0;
        width: 0;
    }

    50% {
        height: 0;
        width: 0;
    }

    50.001% {
        height: 100%;
        width: 100%;
    }

    100% {
        height: 100%;
        width: 100%;
    }
 }

 @keyframes second-span-carousel {
    0% {
        height: 0;
        width: 0;
    }

    50% {
        height: 0;
        width: 0;
    }

    50.001% {
        height: 100%;
        width: 100%;
    }

    100% {
        height: 100%;
        width: 100%;
    }
 }


 @-webkit-keyframes span-border-pulse {

    0% {
        border-right: 2px solid transparent;
    }

    100% {
        border-right: 2px solid white;
    }
 }


 @keyframes span-border-pulse {

    0% {
        border-right: 2px solid transparent;
    }

    100% {
        border-right: 2px solid white;
    }
 }

 /****** header bottom arrow animation *******/ 

 @-webkit-keyframes rotate-jump {
    0% {
        -webkit-transform: rotateY(0deg) translateY(0);
                transform: rotateY(0deg) translateY(0);
    }

    25% {
        -webkit-transform: rotateY(90deg) translateY(-25px);
                transform: rotateY(90deg) translateY(-25px);
    }

    50% {
        -webkit-transform: rotateY(180deg) translateY(0);
                transform: rotateY(180deg) translateY(0);
    }

    75% {
        -webkit-transform: rotateY(270deg) translateY(-25px);
                transform: rotateY(270deg) translateY(-25px);
    }
    
    100% {
        -webkit-transform: rotateY(360deg) translateY(0);
                transform: rotateY(360deg) translateY(0);
    }
 } 

 @keyframes rotate-jump {
    0% {
        -webkit-transform: rotateY(0deg) translateY(0);
                transform: rotateY(0deg) translateY(0);
    }

    25% {
        -webkit-transform: rotateY(90deg) translateY(-25px);
                transform: rotateY(90deg) translateY(-25px);
    }

    50% {
        -webkit-transform: rotateY(180deg) translateY(0);
                transform: rotateY(180deg) translateY(0);
    }

    75% {
        -webkit-transform: rotateY(270deg) translateY(-25px);
                transform: rotateY(270deg) translateY(-25px);
    }
    
    100% {
        -webkit-transform: rotateY(360deg) translateY(0);
                transform: rotateY(360deg) translateY(0);
    }
 }